@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--font: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font: 'Inter', sans-serif;
	--time: 0.20s;
}
:root {
	--color-main-black: #050505;
	--color-main-white: #fff;
	--color-secondary: #65676b;
	--color-hint: #818c99;
	--color-line-x05: #f5f6f7;
	--color-line-x1: #eaecee;
	--color-line-x2: #d6dade;
	--color-line-x3: #c1c7cd;
	--color-extra: #1877f2;
	--background-main-black: #050505;
	--background-main-white: #fff;
	--background-secondary: #f0f2f5;
	--background-extra: #1877f2;
	--background-positive: #4bb34b;
	--background-negative: #e64646;
	--shadow-x05: rgba(0, 0, 0, 0.05);
	--shadow-x1: rgba(0, 0, 0, 0.1);
	--shadow-x2: rgba(0, 0, 0, 0.2);
	--shadow-x5: rgba(255, 255, 255, 0.5);
}
[dark] {
	--color-main-black: #e4e6eb;
	--color-main-white: #050505;
	--color-secondary: #b0b3b8;
	--color-hint: #676767;
	--color-line-x05: #292a2b;
	--color-line-x1: #2f3031;
	--color-line-x2: #3a3b3c;
	--color-line-x3: #454546;
	--color-extra: #1877f2;
	--background-positive: #4bb34b;
	--background-negative: #e64646;
	--background-main-black: #fff;
	--background-main-white: #242526;
	--background-secondary: #18191a;
	--background-extra: #1877f2;
	--shadow-x05: rgba(0, 0, 0, 0.05);
	--shadow-x1: rgba(0, 0, 0, 0.1);
	--shadow-x2: rgba(0, 0, 0, 0.2);
	--shadow-x5: rgba(255, 255, 255, 0.05);
}
body {
	margin: 0px;
	user-select: none;
	background: var(--background-secondary);
	background: var(--background-main-white);
	font-family: var(--font);
	color: var(--color-main-black);
	overflow-x: hidden;
	overflow-y: overlay;
	overflow: overlay;
}
body::-webkit-scrollbar {
	width: 0;
}
a {
	color: inherit;
	text-decoration: none;
}





.image_3d {
	display: block;
	position: relative;
	list-style: none;
	margin: auto;
	padding: 0;
	width: fit-content;
}
.image_3d > li {
	display: block;
	position: absolute;
}
.image_3d > li:nth-of-type(5) {
	position: relative;
}
.image_3d > li > img {
	--shadow_3d_image: rgb(15, 15, 16);
	display: block;
	position: relative;
	border-radius: 45px;
	transform: translateY(0px) scale(0.5) rotate(-30deg) skew(25deg);
	transition: var(--time);
	height: 100rem;
}
.image_3d > li:not(:nth-of-type(5)) > img {
	opacity: 0;
}
.image_3d:hover > li:nth-of-type(5) > img {
	transform: translateY(-100px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 1;
	filter: blur(0px);
}
.image_3d:hover > li:nth-of-type(4) > img {
	transform: translateY(-80px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.60;
	filter: blur(2px);
}
.image_3d:hover > li:nth-of-type(3) > img {
	transform: translateY(-60px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.45;
	filter: blur(4px);
}
.image_3d:hover > li:nth-of-type(2) > img {
	transform: translateY(-40px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.30;
	filter: blur(6px);
}
.image_3d:hover > li:nth-of-type(1) > img {
	transform: translateY(-20px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.15;
	filter: blur(8px);
}













@keyframes spinner {
	0% {
		transform: rotate(0deg)
	} to {
		transform: rotate(1turn)
	}
}
.buttons-prew {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0 40px;
	width: fit-content;
	/* margin: 4% auto; */
	/* background-color: #FBFBFB; */
	padding: 0 20px 20px 20px;
	/* border-radius: 12px; */
	/* box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); */
}
.buttons-prew > .title {
	margin: 20px 0 10px 0;
	display: block;
	height: fit-content;
	font-size: 14px;
	font-weight: 500;
	opacity: .5;
}
.buttons {
	display: flex;
	position: relative;
}
.buttons:not(.fill) .button:not(:last-child) {
	margin-right: 10px;
}
.buttons.fill {
	display: block;
}
.buttons.fill .button {
	width: auto;
}
.buttons.fill .button > .title:not(.card), .buttons .button.loader::before, .buttons .button.icon[icon-left]::before {
	margin: auto!important;
}
.buttons.fill .button[icon-left]:not(.card) > .title {
	margin-left: 0!important;
}
.buttons.fill .button[icon-right]:not(.card) > .title {
	margin-right: 0!important;
}
.buttons.fill .button:not(:last-child) {
	margin-bottom: 10px;
}
.buttons.fill .button[icon-left]:not(.card):not(.icon):not(.loader):before {
	content: attr(icon-left);
	margin: auto 10px auto auto;
}
.buttons.fill .button[icon-right]:not(.card):not(.icon):not(.loader):after {
	content: attr(icon-right);
	margin: auto auto auto 10px;
}
.buttons .button {
	display: flex;
	/* flex: 1 1 auto; */
	position: relative;
	align-items: center;
	width: fit-content;
	height: fit-content;
	background-color: var(--background-extra);
	background-color: #1F41F7;
	color: #fff;
	border-radius: 12px;
	cursor: pointer;
}
.buttons .button.round {
	border-radius: 45px;
}
.buttons .button.big {
	padding: 18px 20px;
}
.buttons .button.medium {
	padding: 15px 18px;
}
.buttons .button.small {
	padding: 11px 14px;
}
.buttons .button[icon-left]::before, .buttons .button[icon-right]::after {
	display: flex;
	justify-content: center;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
}
.buttons .button.big[icon-left]::before, .buttons .button.big[icon-right]::after, .buttons .button.big.loader::before {
	font-size: 20px;
	width: 23px;
	height: 23px;
}
.buttons .button.medium[icon-left]::before, .buttons .button.medium[icon-right]::after, .buttons .button.medium.loader::before {
	font-size: 18px;
	width: 20px;
	height: 20px;
}
.buttons .button.small[icon-left]::before, .buttons .button.small[icon-right]::after, .buttons .button.small.loader::before {
	font-size: 15px;
	width: 16px;
	height: 16px;
}
.buttons .button[icon-left]::before {
	content: attr(icon-left);
	margin: auto 10px auto 0;
}
.buttons .button[icon-right]::after {
	content: attr(icon-right);
	margin: auto 0 auto 10px;
}
.buttons .button > .title {
	display: block;
	font-style: normal;
	font-weight: 500;
}
.buttons .button.big > .title {
	font-size: 18px;
	line-height: 23px;
}
.buttons .button.medium > .title {
	font-size: 16px;
	line-height: 20px;
}
.buttons .button.small > .title {
	font-size: 14px;
	line-height: 16px;
}
.buttons .button.big.icon[icon-left], .buttons .button.big.loader {
	padding: 18px;
}
.buttons .button.medium.icon[icon-left], .buttons .button.medium.loader {
	padding: 15px;
}
.buttons .button.small.icon[icon-left], .buttons .button.small.loader {
	padding: 11px;
}
.buttons .button.icon[icon-left] > .title, .buttons .button.loader > .title {
	display: none;
}
.buttons .button.icon[icon-left]::before {
	margin: 0;
}
.buttons .button.icon[icon-left]::after, .buttons .button.loader::after, .buttons .button.card::after {
	display: none;
}
.buttons .button.loader::before {
	display: block;
	animation: spinner .5s linear infinite;
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><g><path style='opacity: .4' fill='%23fff' d='M478.71 364.58zm-22 6.11l-27.83-15.9a15.92 15.92 0 0 1-6.94-19.2A184 184 0 1 1 256 72c5.89 0 11.71.29 17.46.83-.74-.07-1.48-.15-2.23-.21-8.49-.69-15.23-7.31-15.23-15.83v-32a16 16 0 0 1 15.34-16C266.24 8.46 261.18 8 256 8 119 8 8 119 8 256s111 248 248 248c98 0 182.42-56.95 222.71-139.42-4.13 7.86-14.23 10.55-22 6.11z'></path><path fill='%23fff' d='M271.23 72.62c-8.49-.69-15.23-7.31-15.23-15.83V24.73c0-9.11 7.67-16.78 16.77-16.17C401.92 17.18 504 124.67 504 256a246 246 0 0 1-25 108.24c-4 8.17-14.37 11-22.26 6.45l-27.84-15.9c-7.41-4.23-9.83-13.35-6.2-21.07A182.53 182.53 0 0 0 440 256c0-96.49-74.27-175.63-168.77-183.38z'></path></g></svg>");
}
.buttons .button.card::after {
	display: none;
}
.buttons .button.card::before {
	margin: 0 auto 5px auto;
}
.buttons .button.card {
	flex-direction: column;
}
.buttons .button.big.card {
	padding: 28px;
}
.buttons .button.medium.card {
	padding: 24px;
}
.buttons .button.small.card {
	padding: 20px;
}
.buttons .button.big.card[icon-left] {
	padding: 14px 28px;
}
.buttons .button.medium.card[icon-left] {
	padding: 11.5px 24px;
}
.buttons .button.small.card[icon-left] {
	padding: 9.5px 20px;
}
.buttons .button.big.card.icon, .buttons .button.big.card.loader {
	padding: 25.5px 28px;
}
.buttons .button.medium.card.icon, .buttons .button.medium.card.loader {
	padding: 21px 24px;
}
.buttons .button.small.card.icon, .buttons .button.small.card.loader {
	padding: 18px 20px;
}
.buttons .button.big.card > .title {
	font-size: 14px;
	line-height: 18px;
}
.buttons .button.medium.card > .title {
	font-size: 12px;
	line-height: 14px;
}
.buttons .button.small.card > .title {
	font-size: 10px;
	line-height: 12px;
}