@font-face {
	font-family: 'ProximaNovaSoft';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/400.woff2") format("truetype");
}
@font-face {
	font-family: 'ProximaNovaSoft';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("fonts/600.woff2") format("truetype");
}
@font-face {
	font-family: 'ProximaNovaSoft';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("fonts/700.woff2") format("truetype");
}

:root {
	--font: ProximaNovaSoft;
	--time: 0.20s;
}
:root {
	--color-main-black: #050505;
	--color-main-white: #fff;
	--color-secondary: #65676b;
	--color-hint: #818c99;
	--color-line-x05: #f5f6f7;
	--color-line-x1: #eaecee;
	--color-line-x2: #d6dade;
	--color-line-x3: #c1c7cd;
	--color-extra: #1877f2;
	--background-main-black: #050505;
	--background-main-white: #fff;
	--background-secondary: #f0f2f5;
	--background-extra: #1877f2;
	--background-positive: #4bb34b;
	--background-negative: #e64646;
	--shadow-x05: rgba(0, 0, 0, 0.05);
	--shadow-x1: rgba(0, 0, 0, 0.1);
	--shadow-x2: rgba(0, 0, 0, 0.2);
	--shadow-x5: rgba(255, 255, 255, 0.5);
}
[dark] {
	--color-main-black: #e4e6eb;
	--color-main-white: #050505;
	--color-secondary: #b0b3b8;
	--color-hint: #676767;
	--color-line-x05: #292a2b;
	--color-line-x1: #2f3031;
	--color-line-x2: #3a3b3c;
	--color-line-x3: #454546;
	--color-extra: #1877f2;
	--background-positive: #4bb34b;
	--background-negative: #e64646;
	--background-main-black: #fff;
	--background-main-white: rgb(31,32,33);
	--background-secondary: #18191a;
	--background-extra: #1877f2;
	--shadow-x05: rgba(0, 0, 0, 0.05);
	--shadow-x1: rgba(0, 0, 0, 0.1);
	--shadow-x2: rgba(0, 0, 0, 0.2);
	--shadow-x5: rgba(255, 255, 255, 0.05);
}
body {
	margin: 0px;
	user-select: none;
	background-color: var(--background-main-white);
	font-family: var(--font);
	color: var(--color-main-black);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
a {
	color: inherit;
	text-decoration: none;
}




@keyframes animate_round {
	0% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
		transform: rotate(0deg);
	}
	25% {
		border-radius: 73% 27% 61% 39% / 69% 83% 17% 31%;
	}
	50% {
		border-radius: 37% 63% 48% 52% / 18% 65% 35% 82%;
	}
	75% {
		border-radius: 78% 22% 44% 56% / 25% 22% 78% 75%;
	}
	100% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
		transform: rotate(360deg);
	}
}
@keyframes animate_top {
	0% {
		top: -2000px;
	}
	100% {
		top: 0;
	}
}
.card {
	display: grid;
	position: relative;
	width: 100vw;
	height: auto;
	color: var(--color-main-black);
}
.card > div > * {
	margin: auto;
	width: 40vw;
	display: block;
	position: relative;
	margin: 2vw auto;
	text-align: center;
	z-index: 100;
}
.card > div {
	position: relative;
	overflow: hidden;
}
.card > div[gradient] {
	background: linear-gradient(var(--background-main-white), rgb(27,28,29));
	/* box-shadow: 0 0 200px 0 rgb(27,28,29); */
	z-index: 10;
	min-height: calc(100vh - 5vw);
}
/* .card > div:not([gradient])::after, .card > div:not([gradient])::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: calc(100% + 2000px);
	top: -2000px;
}
.card > div:not([gradient])::after {
	animation: animate_top 20s linear infinite;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 0 100 100'><path fill='%23b0b3b8' fill-opacity='.025' d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill-rule='evenodd'/></svg>");
}
.card > div:not([gradient])::before {
	animation: animate_top 30s linear infinite;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 100 100'><path fill='%23b0b3b8' fill-opacity='.025' d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill-rule='evenodd'/></svg>");
} */
.card > div:first-child {
	padding-top: 5vw;
}
.card hr {
	width: 30vw;
	border: 0;
	height: 4px;
	border-radius: 1vw;
	background: var(--color-line-x05);
}
.card .profile {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 20vw;
	height: 20vw;
	margin: 2.5vw auto;
	transition: var(--time);
	cursor: pointer;
}
.card .profile:active {
	transform: scale(0.95);
}
.card .profile.load {
	transform: scale(.5);
	filter: blur(50px);
}
.card .profile > .avatar {
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: var(--time);
}
.card .profile.load > .avatar {
	opacity: .5;
}
.card .profile > .avatar > img {
	display: block;
	width: 75%;
	height: 75%;
	border-radius: 45em;
	background: #fff;
}
.card .profile > .background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--color-line-x05);
	animation: animate_round 20s forwards linear infinite;
	transition: var(--time);
}
.card .name {
	font-weight: 700;
	font-size: 1.05vw;
	color: var(--color-extra);
}
.card [gradient] .name {
	font-size: 1.55vw;
	margin: 2vw auto 1vw auto;
}
.card .description {
	font-weight: 500;
	font-size: 1.55vw;
}
.card [gradient] .description {
	margin: 1vw auto 1vw auto;
	font-size: 1.05vw;
}
.card .geolocation {
	font-weight: 700;
	font-size: 1.05vw;
}
.card [gradient] .geolocation {
	margin: 1vw auto 2vw auto;
}
.card .counters > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.card .counters > ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 1.05vw;
	vertical-align: top;
	margin: 0 auto;
	color: var(--color-secondary);
}
.card .counters > ul > li::before {
	content: attr(count);
	display: block;
	font-weight: 700;
	font-size: 1.55vw;
	color: var(--color-main-black);
}
.card .links > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1vw;
}
.card .links > ul > li {
	display: inline-block;
	font-weight: 500;
	font-size: 1.05vw;
	vertical-align: top;
	width: calc(50% - .5vw);
	height: auto;
	text-align: left;
	background: var(--color-line-x05);
	border-radius: 1vw;
	position: relative;
	overflow: hidden;
	transition: var(--time);
	cursor: pointer;
	margin: 0 auto;
	/* background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='40' viewBox='0 0 100 20'><path fill='%23b0b3b8' fill-opacity='.0125' d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill-rule='evenodd'/></svg>"); */
}
/* .card .links[projects] > ul > li {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='608' height='608' viewBox='0 0 304 304'><path fill='%23b0b3b8' fill-opacity='.0125' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z' fill-rule='evenodd'/></svg>");
} */
.card .links > ul > li > a {
	padding: 1vw;
	display: block;
	position: relative;
}
.card .links > ul > li:hover {
	transform: scale(1.05);
}
.card .links > ul > li:active {
	transform: scale(0.95);
}
.card .links > ul > li > a[icon]::before {
	content: attr(icon);
	display: block;
	font-family: "Font Awesome 5 Pro";
	font-size: 1.55vw;
	color: var(--color-extra);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.card .links[social] > ul > li > a::before {
	font-family: "Font Awesome 5 Brands";
}
.card span {
	display: block;
}
.card .links > ul > li > a > span:not(:last-of-type) {
	margin-bottom: 0.5vw;
}
.card .links > ul > li > a > .tag {
	margin: 0!important;
	font-size: 0.5vw;
}
.card .links > ul > li > a > .tag > span {
	display: inline-block;
	padding: 0.5vw;
	margin-right: 0.5vw;
	margin-bottom: 0.5vw;
	background: var(--color-line-x1);
	border-radius: 0.5vw;
	font-weight: 700;
	color: var(--color-secondary);
	text-transform: uppercase;
}
.card .links > ul > li > a > .name {
	font-weight: 700;
	color: var(--color-main-black);
	margin-bottom: 0.5vw;
}
.card .links > ul > li > a > .description {
	font-weight: 500;
	font-size: 0.75vw;
	color: var(--color-secondary);
}
.card .links > ul > li > a > .date {
	font-weight: 500;
	color: var(--color-secondary);
	font-size: 0.75vw;
	text-align: right;
}
.card .links > ul > li > a[icon] > .name, .card .links > ul > li > a[icon] > .description {
	margin-left: 2.5vw;
}


@media screen and (orientation: portrait) {
	.card {
		display: block;
		overflow: hidden;
	}
	.card .profile {
		width: 80vw;
		height: 80vw;
	}
	.card > div > * {
		width: 80vw;
		margin: 8vw auto!important;
	}
	.card div[gradient] .name {
		margin: 8vw auto 4vw auto!important;
	}
	.card div[gradient] .description {
		margin: 4vw auto 4vw auto!important;
	}
	.card div[gradient] .geolocation {
		margin: 4vw auto 8vw auto!important;
	}
	.card [gradient] .name, .card .counters > ul > li::before {
		font-size: 8vw!important;
	}
	.card .name {
		font-size: 5vw!important;
	}
	.card .description, .card .geolocation, .card .counters > ul > li, .card .links > ul > li {
		font-size: 5vw!important;
	}
	.card .links > ul > li > a > .description, .card .links > ul > li > a > .date, .card .links > ul > li > a > .tag {
		font-size: 4vw!important;
	}
	.card .links > ul > li > a > .tag {
		font-size: 3vw!important;
	}
	.card .links > ul > li > a > .tag > span {
		padding: 2vw;
		margin-bottom: 3vw;
		margin-right: 3vw;
		border-radius: 2vw;
	}
	.card .links > ul > li > a > span {
		position: relative;
	}
	.card .links > ul > li {
		border-radius: 5vw;
	}
	.card .links > ul > li > a > span:not(:last-of-type) {
		margin-bottom: 3vw;
	}
	.card hr {
		width: 60vw;
	}
	.card .links > ul {
		gap: 0;
	}
	.card .links > ul > li {
		width: calc(100%);
	}
	.card .links > ul > li:not(:last-child) {
		margin-bottom: 4vw;
	}
	.card .links > ul > li > a {
		padding: 4vw;
	}
	.card .links > ul > li > a::before {
		display: none!important;
	}
	.card .links > ul > li > a > .name, .card .links > ul > li > a > .description {
		margin-left: 0!important;
	}
}





.image_3d {
	display: block;
	position: relative;
	list-style: none;
	margin: auto;
	padding: 0;
	width: fit-content;
}
.image_3d > li {
	display: block;
	position: absolute;
}
.image_3d > li:nth-of-type(5) {
	position: relative;
}
.image_3d > li > img {
	--shadow_3d_image: rgb(15, 15, 16);
	display: block;
	position: relative;
	border-radius: 45px;
	transform: translateY(0px) scale(0.5) rotate(-30deg) skew(25deg);
	transition: var(--time);
	height: 100rem;
}
.image_3d > li:not(:nth-of-type(5)) > img {
	opacity: 0;
}
.image_3d:hover > li:nth-of-type(5) > img {
	transform: translateY(-100px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 1;
	filter: blur(0px);
}
.image_3d:hover > li:nth-of-type(4) > img {
	transform: translateY(-80px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.60;
	filter: blur(2px);
}
.image_3d:hover > li:nth-of-type(3) > img {
	transform: translateY(-60px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.45;
	filter: blur(4px);
}
.image_3d:hover > li:nth-of-type(2) > img {
	transform: translateY(-40px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.30;
	filter: blur(6px);
}
.image_3d:hover > li:nth-of-type(1) > img {
	transform: translateY(-20px) scale(0.5) rotate(-30deg) skew(25deg);
	opacity: 0.15;
	filter: blur(8px);
}