@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@font-face {
    font-family: Gotham Pro Black;
    src: url(fonts/GothamPro-Black.ttf);
}
@font-face {
    font-family: FSElliotPro;
    src: url(fonts/FSElliotPro.otf);
}
html {
	background-color: var(--bg-grey-color);
    font-family: FSElliotPro;
	user-select: none;
	--border-radius: 4px;
	transition: 0.2s;
}
a {
    color: var(--text-blue-color);
    cursor: pointer;
    text-decoration: none;
}
body[theme=white] {
	--bg-white-color: #fff;
	--bg-grey-color: #f3f4f6;
	--bg-pink-color: rgba(253, 57, 122, 0.75);
	--bg-spink-color: rgba(253, 57, 122, 0.1);
	--footer-black-color: #181824;
	--footer-grey-color: #1e1e2d;
	--text-white-color: #fff;
	--text-black-color: #333333;
	--text-grey-color: #999;
	--text-red-color: rgba(253,57,122,.7);
	--text-pink-color: rgba(253, 57, 122, 0.7);
	--text-blue-color: #006699;
}
body[theme=dark] {
	--bg-white-color: #363636;
	--bg-grey-color: #2b2b2b;
	--bg-pink-color: rgba(253, 57, 122, 0.75);
	--bg-spink-color: rgba(253, 57, 122, 0.1);
	--footer-black-color: #2B2B2B;
	--footer-grey-color: #363636;
	--text-white-color: #fff;
	--text-black-color: #fff;
	--text-grey-color: #ccc;
	--text-red-color: rgba(253,57,122,.7);
	--text-pink-color: rgba(253, 57, 122, 0.7);
	--text-blue-color: #008dcd;
}
.body {
    background: #1DE5E2;
    box-shadow: -200px -200px 1000px -200px #B588F7 inset;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0.012em;
	overflow-x: hidden;
	overflow-y: scroll;
	animation: background_anim 20s infinite alternate;
}
.body::-webkit-scrollbar {
	width: 12px;
}
.body::-webkit-scrollbar-thumb:vertical {
    background-color: #56575C;
}
.body::-webkit-scrollbar-track {
    background-color: #77787C;
}
.panel {
	width: 96%;
	position: relative;
    background: #1DE5E2;
    box-shadow: inset -200px -200px 1000px -200px #B588F7, 0px 0px 100px 0px rgba(0,0,0,0.25);
	border-radius: 30px;
	overflow: hidden;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	animation: background_anim 20s infinite alternate;
}

@keyframes background_anim {
  25% {
    background: #fa6977;
    box-shadow: inset -200px -200px 1000px -200px #faec69, 0px 0px 100px 0px rgba(0,0,0,0.25);
  }
  50% {
    background: #fa698f;
    box-shadow: inset -200px -200px 1000px -200px #d469fa, 0px 0px 100px 0px rgba(0,0,0,0.25);
  }
  75% {
    background: #6977fa;
    box-shadow: inset -200px -200px 1000px -200px #69faec, 0px 0px 100px 0px rgba(0,0,0,0.25);
  }
  100% {
    background: #69d8fa;
    box-shadow: inset -200px -200px 1000px -200px #69fa8b, 0px 0px 100px 0px rgba(0,0,0,0.25);
  }
}


.header {
	position: relative;
	text-shadow: 0 0 30px;
	font-family: 'Gotham Pro Black';
	font-size: 2em;
	color: var(--text-white-color);
	width: 100%;
	text-align: center;
	border-bottom: 2px dashed hsla(0,0%,100%,.35);
	margin: 2% auto;
	padding-bottom: 2%;
}
.myinfo {
	position: relative;
	width: 100%;
	border-bottom: 2px dashed hsla(0,0%,100%,.35);
	margin: 2% auto;
	padding-bottom: 2%;
}
.myphoto_h1 {
	position: relative;
	display: inline-flex;
	vertical-align: top;
	width: 25%;
}
.myphoto_h2 {
	position: relative;
	width: 100%;
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.myphoto {
	position: relative;
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.mytext_h {
	position: relative;
	display: inline-flex;
	vertical-align: top;
	width: 75%;
}
.mytext {
	position: relative;
	width: 100%;
	color: var(--text-white-color);
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.5em;
	padding: 5%;
}
.myprojects {
	position: relative;
	width: 100%;
	border-bottom: 2px dashed hsla(0,0%,100%,.35);
	margin: 2% auto;
	padding-bottom: 2%;
}
.nameprojects {
	display: inline-block;
	margin-top: 5%;
	color: hsla(0,0%,100%,.35);
    width: 20%;
	text-align: center;
}
hr {
	display: inline-block;
	border: 0px solid hsla(0,0%,100%,.35);
	border-bottom: 2px solid hsla(0,0%,100%,.35);
    width: 10%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	overflow: hidden;
}
.projectbuttons {
	position: relative;
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.project {
	background: white;
	border-radius: 10px;
    width: 25%;
	color: var(--text-black-color);
	font-size: 1.25em;
	line-height: 1.5em;
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	padding: 1%;
	margin: 1em;
	transition: 0.2s;
	overflow: hidden;
	cursor: pointer;
}
.project:hover {
	box-shadow: 0 7px 14px rgba(50,50,93,.2), 0 3px 6px rgba(0,0,0,.16);
	transition: 0.2s;
}
.project:first-child {
	margin-left: 2em;
}
.project:last-child {
	margin-right: 2em;
}
.href {
    color: var(--text-pink-color);
	font-size: 0.75em;
}
.footer {
	position: relative;
	width: 100%;
    color: hsla(0,0%,100%,.35);
	text-align: center;
	margin: 2% auto;
	font-size: 2em;
}
.heart {
	-webkit-perspective: 1000;
	animation: heartbeat 1s infinite;
}
@keyframes heartbeat {
  0% {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
  }
  50% {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
  }
}