@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
@font-face {
    font-family: Gotham Pro Black;
    src: url(./fonts/GothamPro-Black.ttf);
}
body {
	font-family: 'Proxima Soft', Roboto, -apple-system, BlinkMacSystemFont;
	font-feature-settings: "ss01", "ss02";
	background-color: #111;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0.012em;
	user-select: none;
	overflow-x: hidden;
	overflow-y: scroll;
	--href-color: rgba(0, 141, 205, 1.0);
	--href-color-hover: rgba(0, 141, 205, 0.5);
	--li-color: rgba(255, 255, 255, 1.0);
	--li-color-hover: rgba(255, 255, 255, 0.5);
}
background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
	transition: all 0.5s ease-in-out;
	width: 100%;
	height: 100%;
	z-index: 1;
	filter: blur(5px);
}
.image_1 {
	background-image: url(./image/back1.png);
}
.image_2 {
	background-image: url(./image/back2.png);
}
.image_3 {
	background-image: url(./image/back3.png);
}
.image_4 {
	background-image: url(./image/back4.png);
}
.image_5 {
	background-image: url(./image/back5.png);
}
.image_6 {
	background-image: url(./image/back6.png);
}
a {
    color: var(--href-color);
    cursor: pointer;
    text-decoration: none;
}
body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-thumb:vertical {
    background-color: #56575C;
}
body::-webkit-scrollbar-track {
    background-color: #77787C;
}
body[type=preload].body::-webkit-scrollbar {
	width: 12px;
}
body[type=preload].body::-webkit-scrollbar-thumb:vertical {
    background-color: #fff;
}
body[type=preload].body::-webkit-scrollbar-track {
    background-color: #fff;
}
.body_child {
	margin: 4% auto;
	border-radius: 4px;
	position: relative;
	color: #fff;
	max-width: 40%;
	min-width: 30%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.5);
	z-index: 2;
}
name[type=hello], name[type=name] {
    position: relative;
	font-size: 1.5em;
}
name:after {
	display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 45px;
    background-color: var(--li-color);
    content: "";
    transition: width 0.3s ease-out;
}
.mytext:hover name[type=hello]:after {
    width: 100%;
}
.push:hover name[type=name]:after {
    width: 100%;
}
.push {
	list-style: none;
	font-size: 1em;
    padding-inline-start: 0px;
}
.push li {
	position: relative;
	padding: 20px 0 20px 40px;
	cursor: pointer;
}
.push li:before {
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: transparent;
	content: "";
	left: 0;
	transition: .3s ease-in-out;
	top: 32px;
	box-shadow: 0px 0px 0px 2px var(--href-color);
}
.push li:after {
	position: absolute;
	border-left: 2px solid var(--href-color);
	width: 1px;
	bottom: -30px;
	content: "";
	left: 5px;
	top: 46px;
}
.push li:hover:before {
	box-shadow: 0px 0px 0px 2px var(--href-color), 0px 0px 0px 8px var(--href-color-hover);
}
.push li:last-child:after {
	content: none;
}
.push li name:before {
	content: 'NONE';
	margin-right: 10px;
	font-size: 0.75em;
	color: var(--li-color-hover);
}
.push li name[type=game]:before {
	content: 'GAME';
}
.push li name[type=work]:before {
	content: 'WORK';
}
.push li name[type=other]:before {
	content: 'OTHER';
}
.push li name[type=vk]:before {
	content: 'VK';
}
.push li name[type=link]:before {
	content: 'LINK';
	color: var(--href-color-hover);
}
.push li name {
	color: var(--li-color);
}
.push li name[type=link] {
	color: var(--href-color);
}
.open-sans { font-family: 'Open Sans', sans-serif; }
.lato { font-family: 'Lato', sans-serif; }
.roboto { font-family: 'Roboto', sans-serif; }
.source-sans-pro { font-family: 'Source Sans Pro', sans-serif; }
.proxima-soft { font-family: 'Proxima Soft', sans-serif; }
.proxima-nova { font-family: 'Proxima Nova', sans-serif; }
.helvetica-neue { font-family: 'Helvetica Neue', sans-serif; }
.w6 {    width: 24rem; }
.preloader {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #fff;
	text-shadow: 15px 15px 0px #ccc;
	font-family: 'Gotham Pro Black'!important;
	font-size: 4em;
	color: #000;
	text-align: center;
}
.preloader:before {
	content: '|';
	margin-bottom: 5%;
	font-size: 2em;
	transform: rotate(45deg);
}
.preloader:after {
	content: '|';
	margin-top: 5%;
	font-size: 2em;
	transform: rotate(45deg);
}
@media screen and (max-width: 1168px) {
	.body_child {
		transform-origin: center -60px;
		transform: scale(2);
	}
	.image_1, .image_2, .image_3, .image_4, .image_5, .image_6 {
		background-image: url(./image/back3.png);
	}
}