		body {
			font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Segoe WP,Helvetica Neue,Lucida Grande,Verdana,Tahoma,Arial,sans-serif!important;
			user-select: none;
			background-color: #2b2b2b;
			transition: 0.2s;
		}
		#head {
			margin: auto;
			margin-top: 5%;
			width: 420px;
			font-size: 14px;
			padding: 25px;
			background: #363636;
			border-radius: 4px;
			box-shadow: 0 1px 0 0 #181818, 0 0 0 1px #242424;
			line-height: 35px;
			color: white;
			transition: 0.2s;
		}
		table {
			margin: auto;
			margin-top: 8%;
			border-collapse: collapse;
		}
		td {
			width: 100px;
			position: relative;
		}
		.slide {
			position: absolute;
			top: 25px;
		}
		.zag {
			position: absolute;
			font-size: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #5B606B;
			height: 45px;
			background-color: #F8F8F9;
			border-radius: 4px;
			box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.15);
			margin-bottom: 5px;
			transition: 0.2s;
			bottom: -13px;
		}
		.zag_top {
			width: 471px;
		}
		.zag_left {
			right: 16px;
			width: 221px;
		}
		.zag_right {
			left: 16px;
			width: 55px;
		}
		a {
			color: #3eb0ef;
			text-decoration: none;
			cursor: pointer;
			font-weight: 500;
			padding: 5px;
			border-radius: 4px;
			box-shadow: 0 1px 0 0 #555, 0 0 0 1px #666;
			transition: 0.2s;
		}
		a:hover {
			transition: 0.2s;
			box-shadow: 0 1px 0 0 #555, 0 0 0 1px #666, 0px 2px 25px 0px rgba(0,0,0,0.1);
		}
		hr {
			border: 0.5px solid #555;
			width: 125px;
			transition: 0.2s;
		}
		#name {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #888;
			font-size: 10px;
		}
		#name_zag {
			width: 150px;
			text-align: center;
		}
		.options_left {
			position: relative;
			padding: 10px;
			margin-bottom: 17px;
			background: #363636;
			border-radius: 4px;
			box-shadow: 0 1px 0 0 #181818, 0 0 0 1px #242424;
			transition: 0.2s;
			width: 200px;
			height: 200px;
		}
		.options_left_write {
			position: relative;
			padding: 10px;
			margin-bottom: 17px;
			background: #363636;
			border-radius: 4px;
			box-shadow: 0 1px 0 0 #181818, 0 0 0 1px #242424;
			width: 200px;
			height: 30px;
			transition: 0.2s;
		}
		.options_left_write:hover  {
			transition: 0.2s;
			padding-left: 8px;
			padding-top: 8px;
			padding-right: 12px;
			padding-bottom: 12px;
		}
		.options_left_write:hover  .write{
			transition: 0.2s;
			padding: 12px;
		}
		.write {
			cursor: pointer;
			position: relative;
			padding: 10px;
			margin-bottom: 17px;
			border-radius: 4px;
			width: 180px;
			height: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #F8F8F9;
			color: #5B606B;
			font-size: 13px;
			transition: 0.2s;
		}
		.write:hover  {
			background-color: #E6E7EA;
			transition: 0.2s;
		}
		#ava {
			width: 200px;
			height: 200px;
			border-radius: 4px;
		}
		.options {
			position: relative;
			padding: 10px;
			margin-bottom: 17px;
			background: #363636;
			border-radius: 4px;
			box-shadow: 0 1px 0 0 #181818, 0 0 0 1px #242424;
			transition: 0.2s;
			width: 35px;
			height: 35px;
		}
		.options:hover {
			transition: 0.2s;
			background: #5B5B5B;
		}
		.theme {
			top: 50%;
			left: 50%;
			width: 35px;
			height: 35px;
			cursor: pointer;
		}
		.theme_light {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2236px%22%20height%3D%2236px%22%20viewBox%3D%220%200%2018%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rounded%22%20transform%3D%22translate(-511.000000%2C%20-2903.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Image%22%20transform%3D%22translate(100.000000%2C%202626.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22-Round-%2F-Image-%2F-palette%22%20transform%3D%22translate(408.000000%2C%20274.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate(0.000000%2C%200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Path%22%20points%3D%220%200%2024%200%2024%2024%200%2024%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12%2C3%20C7.03%2C3%203%2C7.03%203%2C12%20C3%2C16.97%207.03%2C21%2012%2C21%20C12.83%2C21%2013.5%2C20.33%2013.5%2C19.5%20C13.5%2C19.11%2013.35%2C18.76%2013.11%2C18.49%20C12.88%2C18.23%2012.73%2C17.88%2012.73%2C17.5%20C12.73%2C16.67%2013.4%2C16%2014.23%2C16%20L16%2C16%20C18.76%2C16%2021%2C13.76%2021%2C11%20C21%2C6.58%2016.97%2C3%2012%2C3%20Z%20M6.5%2C12%20C5.67%2C12%205%2C11.33%205%2C10.5%20C5%2C9.67%205.67%2C9%206.5%2C9%20C7.33%2C9%208%2C9.67%208%2C10.5%20C8%2C11.33%207.33%2C12%206.5%2C12%20Z%20M9.5%2C8%20C8.67%2C8%208%2C7.33%208%2C6.5%20C8%2C5.67%208.67%2C5%209.5%2C5%20C10.33%2C5%2011%2C5.67%2011%2C6.5%20C11%2C7.33%2010.33%2C8%209.5%2C8%20Z%20M14.5%2C8%20C13.67%2C8%2013%2C7.33%2013%2C6.5%20C13%2C5.67%2013.67%2C5%2014.5%2C5%20C15.33%2C5%2016%2C5.67%2016%2C6.5%20C16%2C7.33%2015.33%2C8%2014.5%2C8%20Z%20M17.5%2C12%20C16.67%2C12%2016%2C11.33%2016%2C10.5%20C16%2C9.67%2016.67%2C9%2017.5%2C9%20C18.33%2C9%2019%2C9.67%2019%2C10.5%20C19%2C11.33%2018.33%2C12%2017.5%2C12%20Z%22%20id%3D%22%D1%80%D1%9F%E2%80%9D%E2%84%96-Icon-Color%22%20fill%3D%22%23E6E7EA%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
			visibility: visible;
		}
		.theme_dark {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2236px%22%20height%3D%2236px%22%20viewBox%3D%220%200%2018%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rounded%22%20transform%3D%22translate(-511.000000%2C%20-2903.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Image%22%20transform%3D%22translate(100.000000%2C%202626.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22-Round-%2F-Image-%2F-palette%22%20transform%3D%22translate(408.000000%2C%20274.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate(0.000000%2C%200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Path%22%20points%3D%220%200%2024%200%2024%2024%200%2024%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12%2C3%20C7.03%2C3%203%2C7.03%203%2C12%20C3%2C16.97%207.03%2C21%2012%2C21%20C12.83%2C21%2013.5%2C20.33%2013.5%2C19.5%20C13.5%2C19.11%2013.35%2C18.76%2013.11%2C18.49%20C12.88%2C18.23%2012.73%2C17.88%2012.73%2C17.5%20C12.73%2C16.67%2013.4%2C16%2014.23%2C16%20L16%2C16%20C18.76%2C16%2021%2C13.76%2021%2C11%20C21%2C6.58%2016.97%2C3%2012%2C3%20Z%20M6.5%2C12%20C5.67%2C12%205%2C11.33%205%2C10.5%20C5%2C9.67%205.67%2C9%206.5%2C9%20C7.33%2C9%208%2C9.67%208%2C10.5%20C8%2C11.33%207.33%2C12%206.5%2C12%20Z%20M9.5%2C8%20C8.67%2C8%208%2C7.33%208%2C6.5%20C8%2C5.67%208.67%2C5%209.5%2C5%20C10.33%2C5%2011%2C5.67%2011%2C6.5%20C11%2C7.33%2010.33%2C8%209.5%2C8%20Z%20M14.5%2C8%20C13.67%2C8%2013%2C7.33%2013%2C6.5%20C13%2C5.67%2013.67%2C5%2014.5%2C5%20C15.33%2C5%2016%2C5.67%2016%2C6.5%20C16%2C7.33%2015.33%2C8%2014.5%2C8%20Z%20M17.5%2C12%20C16.67%2C12%2016%2C11.33%2016%2C10.5%20C16%2C9.67%2016.67%2C9%2017.5%2C9%20C18.33%2C9%2019%2C9.67%2019%2C10.5%20C19%2C11.33%2018.33%2C12%2017.5%2C12%20Z%22%20id%3D%22%D1%80%D1%9F%E2%80%9D%E2%84%96-Icon-Color%22%20fill%3D%22%23E6E7EA%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
			visibility: hidden;
			max-height: 0px;
		}
		.go_profile{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rounded%22%20transform%3D%22translate(-138.000000%2C%20-4102.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Social%22%20transform%3D%22translate(100.000000%2C%204044.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22-Round-%2F-Social-%2F-person%22%20transform%3D%22translate(34.000000%2C%2054.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Path%22%20points%3D%220%200%2024%200%2024%2024%200%2024%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12%2C12%20C14.21%2C12%2016%2C10.21%2016%2C8%20C16%2C5.79%2014.21%2C4%2012%2C4%20C9.79%2C4%208%2C5.79%208%2C8%20C8%2C10.21%209.79%2C12%2012%2C12%20Z%20M12%2C14%20C9.33%2C14%204%2C15.34%204%2C18%20L4%2C19%20C4%2C19.55%204.45%2C20%205%2C20%20L19%2C20%20C19.55%2C20%2020%2C19.55%2020%2C19%20L20%2C18%20C20%2C15.34%2014.67%2C14%2012%2C14%20Z%22%20id%3D%22%D1%80%D1%9F%E2%80%9D%E2%84%96-Icon-Color%22%20fill%3D%22%23E6E7EA%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
			visibility: visible;
		}
		.go_repost{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2236px%22%20height%3D%2236px%22%20viewBox%3D%220%200%2018%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rounded%22%20transform%3D%22translate(-817.000000%2C%20-4100.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Social%22%20transform%3D%22translate(100.000000%2C%204044.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22-Round-%2F-Social-%2F-share%22%20transform%3D%22translate(714.000000%2C%2054.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Path%22%20points%3D%220%200%2024%200%2024%2024%200%2024%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M18%2C16.08%20C17.24%2C16.08%2016.56%2C16.38%2016.04%2C16.85%20L8.91%2C12.7%20C8.96%2C12.47%209%2C12.24%209%2C12%20C9%2C11.76%208.96%2C11.53%208.91%2C11.3%20L15.96%2C7.19%20C16.5%2C7.69%2017.21%2C8%2018%2C8%20C19.66%2C8%2021%2C6.66%2021%2C5%20C21%2C3.34%2019.66%2C2%2018%2C2%20C16.34%2C2%2015%2C3.34%2015%2C5%20C15%2C5.24%2015.04%2C5.47%2015.09%2C5.7%20L8.04%2C9.81%20C7.5%2C9.31%206.79%2C9%206%2C9%20C4.34%2C9%203%2C10.34%203%2C12%20C3%2C13.66%204.34%2C15%206%2C15%20C6.79%2C15%207.5%2C14.69%208.04%2C14.19%20L15.16%2C18.35%20C15.11%2C18.56%2015.08%2C18.78%2015.08%2C19%20C15.08%2C20.61%2016.39%2C21.92%2018%2C21.92%20C19.61%2C21.92%2020.92%2C20.61%2020.92%2C19%20C20.92%2C17.39%2019.61%2C16.08%2018%2C16.08%20Z%22%20id%3D%22%D1%80%D1%9F%E2%80%9D%E2%84%96-Icon-Color%22%20fill%3D%22%23E6E7EA%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
			visibility: visible;
		}
		.go_addfrend{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2244px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2022%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rounded%22%20transform%3D%22translate(-679.000000%2C%20-4102.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Social%22%20transform%3D%22translate(100.000000%2C%204044.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22-Round-%2F-Social-%2F-person_add%22%20transform%3D%22translate(578.000000%2C%2054.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Path%22%20points%3D%220%200%2024%200%2024%2024%200%2024%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M15%2C12%20C17.21%2C12%2019%2C10.21%2019%2C8%20C19%2C5.79%2017.21%2C4%2015%2C4%20C12.79%2C4%2011%2C5.79%2011%2C8%20C11%2C10.21%2012.79%2C12%2015%2C12%20Z%20M6%2C10%20L6%2C8%20C6%2C7.45%205.55%2C7%205%2C7%20C4.45%2C7%204%2C7.45%204%2C8%20L4%2C10%20L2%2C10%20C1.45%2C10%201%2C10.45%201%2C11%20C1%2C11.55%201.45%2C12%202%2C12%20L4%2C12%20L4%2C14%20C4%2C14.55%204.45%2C15%205%2C15%20C5.55%2C15%206%2C14.55%206%2C14%20L6%2C12%20L8%2C12%20C8.55%2C12%209%2C11.55%209%2C11%20C9%2C10.45%208.55%2C10%208%2C10%20L6%2C10%20Z%20M15%2C14%20C12.33%2C14%207%2C15.34%207%2C18%20L7%2C19%20C7%2C19.55%207.45%2C20%208%2C20%20L22%2C20%20C22.55%2C20%2023%2C19.55%2023%2C19%20L23%2C18%20C23%2C15.34%2017.67%2C14%2015%2C14%20Z%22%20id%3D%22%D1%80%D1%9F%E2%80%9D%E2%84%96-Icon-Color%22%20fill%3D%22%23E6E7EA%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
			visibility: visible;
		}
		.go_snow{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%220%200%2010%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rounded%22%20transform%3D%22translate(-101.000000%2C%20-3933.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Places%22%20transform%3D%22translate(100.000000%2C%203866.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22-Round-%2F-Places-%2F-ac_unit%22%20transform%3D%22translate(0.000000%2C%2066.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Path%22%20points%3D%220%200%2012%200%2012%2012%200%2012%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.5%2C5.5%20L8.915%2C5.5%20L10.185%2C4.23%20C10.38%2C4.035%2010.38%2C3.72%2010.185%2C3.525%20C9.99%2C3.33%209.67%2C3.33%209.475%2C3.525%20L7.5%2C5.5%20L6.5%2C5.5%20L6.5%2C4.5%20L8.475%2C2.525%20C8.67%2C2.33%208.67%2C2.01%208.475%2C1.815%20C8.28%2C1.62%207.965%2C1.62%207.77%2C1.815%20L6.5%2C3.085%20L6.5%2C1.5%20C6.5%2C1.225%206.275%2C1%206%2C1%20C5.725%2C1%205.5%2C1.225%205.5%2C1.5%20L5.5%2C3.085%20L4.23%2C1.815%20C4.035%2C1.62%203.72%2C1.62%203.525%2C1.815%20C3.33%2C2.01%203.33%2C2.33%203.525%2C2.525%20L5.5%2C4.5%20L5.5%2C5.5%20L4.5%2C5.5%20L2.525%2C3.525%20C2.33%2C3.33%202.01%2C3.33%201.815%2C3.525%20C1.62%2C3.72%201.62%2C4.035%201.815%2C4.23%20L3.085%2C5.5%20L1.5%2C5.5%20C1.225%2C5.5%201%2C5.725%201%2C6%20C1%2C6.275%201.225%2C6.5%201.5%2C6.5%20L3.085%2C6.5%20L1.815%2C7.77%20C1.62%2C7.965%201.62%2C8.28%201.815%2C8.475%20C2.01%2C8.67%202.33%2C8.67%202.525%2C8.475%20L4.5%2C6.5%20L5.5%2C6.5%20L5.5%2C7.5%20L3.525%2C9.475%20C3.33%2C9.67%203.33%2C9.99%203.525%2C10.185%20C3.72%2C10.38%204.035%2C10.38%204.23%2C10.185%20L5.5%2C8.915%20L5.5%2C10.5%20C5.5%2C10.775%205.725%2C11%206%2C11%20C6.275%2C11%206.5%2C10.775%206.5%2C10.5%20L6.5%2C8.915%20L7.77%2C10.185%20C7.965%2C10.38%208.28%2C10.38%208.475%2C10.185%20C8.67%2C9.99%208.67%2C9.67%208.475%2C9.475%20L6.5%2C7.5%20L6.5%2C6.5%20L7.5%2C6.5%20L9.475%2C8.475%20C9.67%2C8.67%209.99%2C8.67%2010.185%2C8.475%20C10.38%2C8.28%2010.38%2C7.965%2010.185%2C7.77%20L8.915%2C6.5%20L10.5%2C6.5%20C10.775%2C6.5%2011%2C6.275%2011%2C6%20C11%2C5.725%2010.775%2C5.5%2010.5%2C5.5%20Z%22%20id%3D%22%D1%80%D1%9F%E2%80%9D%E2%84%96-Icon-Color%22%20fill%3D%22%23E6E7EA%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
			visibility: visible;
		}
		.tip {
			left: 70px;
			position: absolute;
			top: 8px;
			background: rgba(46,48,51,.9);
			color: #fff;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: -0.2px;
			padding: 11px 12px;
			border-radius: 4px;
			white-space: nowrap;
			opacity: 0;
			visibility: hidden;
			filter: alpha(opacity=0);
			transition: all 200ms ease-in-out;
		}
		.tip::before {
			left: -16px;
			position: absolute;
			content: '';
			top: 50%;
			border: 8px solid transparent;
			border-right-color: rgba(46,48,51,.9);
			margin-top: -8px;
		}
		.tip_btn:hover .tip{
			opacity: 1;
			visibility: visible;
			filter: none;
			transform: translateX(0px);
		}
		#particles-js{
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;
		}