@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@font-face {
    font-family: Proxima Nova Regular;
    src: url(../../fonts/ProximaNova-Regular.ttf);
}
@font-face {
    font-family: Proxima Nova Semibold;
    src: url(../../fonts/ProximaNova-Semibold.ttf);
}
@font-face {
    font-family: Proxima Nova Bold;
    src: url(../../fonts/ProximaNova-Bold.ttf);
}
html {
	--border-radius: 6px;
	--filter-blur: 4px;
	--box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0);
	--message-red-bg: rgba(204, 0, 0, 0.75);
	--message-red-br: rgba(204, 0, 0, 0.95);
	--message-red-text: rgba(61, 0, 0, 1);
	--message-green-bg: rgba(50, 153, 50, 0.75);
	--message-green-br: rgba(50, 153, 50, 0.95);
	--message-green-text: rgba(10, 30, 10, 1);
	--message-yellow-bg: rgba(235, 247, 20, 0.75);
	--message-yellow-br: rgba(235, 247, 20, 0.95);
	--message-yellow-text: rgba(47, 49, 4, 1);
}
body[theme=white] {
	--bg-white-color: #fff;
	--bg-grey-color: #F8F9FB;
	--bg-pink-color: rgba(32, 41, 122, 0.75);
	--bg-spink-color: rgba(32, 41, 122, 0.1);
	--footer-black-color: #181824;
	--footer-grey-color: #2d2d44;
	--footer-white-color: #1e1e2d;
	--text-white-color: #fff;
	--text-black-color: #15171a;
	--text-grey-color: #999;
	--text-pink-color: rgba(32, 41, 122, 0.7);
	--text-blue-color: #008dcd;
}
a {
    color: var(--text-blue-color);
    cursor: pointer;
    text-decoration: none;
}
body {
	background-color: var(--bg-white-color);
	padding: 0px;
	margin: 0px;
	font-weight: 500;
	font-size: 18px;
	font-family: Proxima Nova Regular, Roboto, -apple-system, BlinkMacSystemFont;
	position: relative;
	display: block;
	user-select: none;
}
.header {
	font-family: Proxima Nova Bold;
	padding: 80px 60px 60px 60px;
	font-size: 2em;
	font-weight: 600;
	position: relative;
	display: block;
	background-color: var(--footer-grey-color);
	color: var(--text-white-color);
	text-align: center;
}
.header > .autor {
	font-family: Proxima Nova Regular;
	position: relative;
	display: block;
	font-size: 0.5em;
	color: var(--text-grey-color);
}
.navigation {
	overflow: hidden;
	font-size: 1.25em;
	font-family: Proxima Nova Semibold;
	background-color: var(--footer-white-color);
	color: var(--text-white-color);
	position: relative;
	display: block;
	z-index: 100;
}
.navigation > .element {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	display: table-cell;
	padding: 20px 40px 20px 40px;
	width: 1%;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
.navigation > .element:hover {
	background-color: rgba(255,255,255,0.1);
	box-shadow: inset 0px -5px 0px 0px rgba(255,255,255,0.2);
	transition: 0.3s;
}
.sticky {
	position: fixed;
	top: 0;
}
.sticky + .main {
	padding-top: 60px;
}
.main {
	margin: 20px 100px 20px 100px;
	position: relative;
	display: flex;
}
.menu {
	border-radius: var(--border-radius);
	font-family: Proxima Nova Regular;
	padding: 20px 30px 20px 30px;
	width: 20%;
	position: relative;
	display: block;
    vertical-align: top;
	overflow: hidden;
}
.menu > .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.25em;
	font-family: Proxima Nova Semibold;
	position: relative;
	display: block;
}
.details > summary::-webkit-details-marker {
	display: none;
}
.details {
	cursor: pointer;
	line-height: 40px;
	border-radius: var(--border-radius);
}
.details > .details {
	padding-left: 20px;
}
.details[open] {
	background-color: rgba(0,0,0,0.01);
}
.details > summary {
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.details > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	display: block;
	background-color: rgba(0,0,0,0.01);
	padding-left: 40px;
    margin-left: -20px;
}
details[open] summary ~ * {
	animation: sweep .5s ease-in-out;
}
@keyframes sweep {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.middle {
	width: 60%;
	border-radius: var(--border-radius);
	padding: 20px 30px 20px 30px;
	margin: 0px 20px 0px 20px;
	position: relative;
	display: table;
	background-color: rgba(0,0,0,0.015);
	user-select: text;
}
.middle > .name {
	font-size: 1.25em;
	font-family: Proxima Nova Semibold;
	position: relative;
	display: block;
}
.middle > .text {
	line-height: 940px;
	position: relative;
	display: block;
}
.footer {
	padding: 20px 30px 20px 30px;
	background-color: var(--footer-white-color);
	color: var(--text-white-color);
	font-weight: 600;
	font-size: 2em;
	font-family: Proxima Nova Bold;
	position: relative;
	display: block;
	text-align: center;
}
@font-face {
	font-family: 'icomoon';
	src: url('icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-logo:before {
	font-size: 2em;
	content: "\e900";
}