html {
	--bg-white-color: #fff;
	--bg-grey-color: #f3f4f6;
	--bg-pink-color: rgba(253, 57, 122, 0.75);
	--bg-spink-color: rgba(253, 57, 122, 0.1);
	--footer-black-color: #181824;
	--footer-grey-color: #1e1e2d;
	--text-white-color: #fff;
	--text-black-color: #15171a;
	--text-grey-color: #999;
	--text-red-color: rgba(253,57,122,.7);
	--text-pink-color: rgba(253, 57, 122, 0.7);
	--text-blue-color: #008dcd;
}