@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@font-face {
    font-family: Proxima Nova Regular;
    src: url(../../fonts/ProximaNova-Regular.ttf);
}
@font-face {
    font-family: Proxima Nova Semibold;
    src: url(../../fonts/ProximaNova-Semibold.ttf);
}
@font-face {
    font-family: Proxima Nova Bold;
    src: url(../../fonts/ProximaNova-Bold.ttf);
}
html {
	--border-radius: 6px;
	--filter-blur: 4px;
	--box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0);
	--message-red-bg: rgba(204, 0, 0, 0.75);
	--message-red-br: rgba(204, 0, 0, 0.95);
	--message-red-text: rgba(61, 0, 0, 1);
	--message-green-bg: rgba(50, 153, 50, 0.75);
	--message-green-br: rgba(50, 153, 50, 0.95);
	--message-green-text: rgba(10, 30, 10, 1);
	--message-yellow-bg: rgba(235, 247, 20, 0.75);
	--message-yellow-br: rgba(235, 247, 20, 0.95);
	--message-yellow-text: rgba(47, 49, 4, 1);
}
body[theme=white] {
	--bg-white-color: #fff;
	--bg-grey-color: #F8F9FB;
	--bg-pink-color: rgba(32, 41, 122, 0.75);
	--bg-spink-color: rgba(32, 41, 122, 0.1);
	--footer-black-color: #0d0d16;
	--footer-grey-color: #2d2d44;
	--footer-white-color: #1e1e2d;
	--text-white-color: #fff;
	--text-black-color: #15171a;
	--text-grey-color: #999;
	--text-pink-color: rgba(32, 41, 122, 0.7);
	--text-blue-color: #008dcd;
}
a {
    color: var(--text-blue-color);
    cursor: pointer;
    text-decoration: none;
}
body {
	background-color: var(--bg-white-color);
	padding: 0px;
	margin: 0px;
	font-weight: 500;
	font-family: Proxima Nova Regular, Roboto, -apple-system, BlinkMacSystemFont;
	position: relative;
	display: block;
	user-select: none;
}
.footer {
	background: linear-gradient(135deg, var(--footer-grey-color) 0%, var(--footer-black-color) 100%);
	color: var(--text-white-color);
	text-shadow: 0.1em 0.1em 0em rgba(0, 0, 0, 0.25);
	font-size: 6em;
	font-family: Proxima Nova Bold;
	position: relative;
	display: flex;
	align-items: center;
    justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
}
@font-face {
	font-family: 'icomoon';
	src: url('icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-logo:before {
	font-size: 2em;
	content: "\e900";
}