.footer {
	display: flex;
	justify-content: center
}

.info {
	-webkit-touch-callout: none;
	-webkit-user-select: none
}

.Header__content,
.InfoRow__title {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.InfoRow__title {
	text-align: left
}

[role=button]:not([disabled]) {
	cursor: pointer
}

.low>.Progress__in {
	background: #e64646
}

.good>.Progress__in {
	background: #4bb34b
}